apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: backend-pdb
  namespace: transcendence
  labels:
    app: backend
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: backend
