apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: transcendence
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      automountServiceAccountToken: false
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        fsGroup: 101
        runAsUser: 101
        runAsNonRoot: true
      containers:
      - name: frontend
        image: transcendence-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
        volumeMounts:
        - name: cache
          mountPath: /var/cache/nginx
        - name: run
          mountPath: /var/run
        - name: tmp
          mountPath: /tmp
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
            ephemeral-storage: "64Mi"
          limits:
            memory: "128Mi"
            cpu: "200m"
            ephemeral-storage: "128Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: cache
        emptyDir:
          sizeLimit: "64Mi"
      - name: run
        emptyDir:
          sizeLimit: "32Mi"
      - name: tmp
        emptyDir:
          sizeLimit: "32Mi"
