apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: transcendence
  labels:
    app: frontend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: frontend
