apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: transcendence
  labels:
    app: vault
spec:
  ports:
    - name: http
      port: 8200
      targetPort: 8200
    - name: cluster
      port: 8201
      targetPort: 8201
  selector:
    app: vault
